[run]
source = src
omit = 
    src/tests/**,
    src/arpa.py,
    src/konsoli.py,
    src/tiedostonlukija.py,
    src/tietorakenteet/tests/**,
    src/index.py,
    src/tekstikayttoliittyma.py,
    src/tietorakenteet/__init__.py
    src/gui.py